.DS_Store
atlassian*
/nbproject
/sitemap
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/node_modules
/dev
/generated
/lib
/phpserver
/pub
/setup
/update
/var
/vendor
/*.*
!/composer.json
!/composer.lock
!/.gitignore