/etc
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/pub
/pub/static
/var
/vendor
/generated
/update
/setup
/phpserver
/lib
/dev
/.DS_Store
/.htaccess
/.htaccess.sample
/.php_cs.dist
/.travis.yml
/.user.ini
/auth.json.sample
/CHANGELOG.md
/COPYING.txt
/grunt-config.json.sample
/Gruntfile.js.sample
/index.php
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.txt
/nginx.conf.sample
/package.json.sample
/README_EE.md
/bin/magento
/app/functions.php
/app/bootstrap.php
/app/autoload.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/NonComposerComponentRegistration.php
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/.github
/.idea